<!DOCTYPE html>
{% from 'bootstrap5/form.html' import render_form %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>To-Do List</title>
</head>
<body>
    <div class="container">
        <li><a href="#">Log In</a></li>
        <li><a href="#">New List</a></li>
    </div>

    <div class="heading">
        Create your to-do list below
    </div>

    <form action="" method="POST">
        <input type="text" name="todo_text" id="todo_text" placeholder="Write your next task here...">
        <button type="submit">Add to To-Do List</button>
    </form>

    <ul>
        {% for item in todo_list_items %}
        <div class="ul-list">
            <li class="items">{{ item }}</li>
            <input id="startDate" placeholder="No due date" type="text" onclick="(this.type='date')" id="date" />
            <a class="delete" href="{{ url_for('delete', index=loop.index0) }}">Delete</a>
        </div>
        {% endfor %}
    </ul>


</body>
</html>