{% include "header.html" %}

    <form action="" method="POST">
        <input type="text" name="todo_text" id="todo_text" placeholder="Write your next task here...">
        <button class="add_items_btn" type="submit">Add to To-Do List</button>
    </form>

    <ul>
        {% for item in todo_list_items %}
        <div class="ul-list">
            <li class="items">{{ item }}</li>
            <input id="startDate" placeholder="No due date" type="text" onclick="(this.type='date')" id="date" />
            <a class="delete" href="{{ url_for('delete', index=loop.index0) }}">Delete</a>
        </div>
        {% endfor %}
    </ul>

</body>
</html>