{% extends "base.html" %} {% block content %}
{% from 'bootstrap5/form.html' import render_form %}

<div class="pg_heading">
    An app to create your to do list!
</div>

<div class="container mt-5">

    <h1 id="login_page_heading">Log in to save and access your lists</h1>

    <h3 class="sign-up">New here? <a href="{{ url_for('sign_up') }}">Sign up here to save your lists</a></h3>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.email.label(class='form-label') }}
            {{ form.email(class='form-control') }}
        </div>
        <div class="mb-3">
            {{ form.password.label(class='form-label') }}
            {{ form.password(class='form-control') }}
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>

        <p>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                    {{ message|safe }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </p>
    </form>
</div>

{% endblock %}